.background-img {
  background: url("https://picsum.photos/1700/900") no-repeat center / cover;
  width: 100vw;
  height: 100vh;
  /*
  vw: viewport width
  vh: viewport height
  %: theo phần tử cha chứa nó
  */
}
