* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  color: white;
  text-decoration: none;
  background-color: black;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  display: inline-block;
  font-size: 1.6rem;
}
