.em {
  width: 10em;
  height: 10em;
  background: rgba(188, 45, 183, 0.925);
  font-size: 32px;
  /* là đơn vị sẽ phụ thuộc vào thuộc tính font-size của chính nó hoặc phần tử cha chứa nó */
}

html {
  font-size: 62.5%;
  /* 1rem <=> 10px */
}

.rem {
  width: 10rem;
  height: 10rem;
  background-color: rgb(53, 53, 170);
  font-size: 32px;
  /* là đơn vị phụ thuộc vào thuộc tính font-size của thẻ html */
}
