* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.boxed {
  width: 20rem;
  height: 20rem;
  background: red;
  background-image: linear-gradient(to right bottom, red, blue);
}

.title {
  font-weight: bold;
  font-size: 3rem;
  background: linear-gradient(to right bottom, blue, orange);
  display: inline-block;
  margin-top: 2rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image:
    linear-gradient(to right, #0000ff88, #ff00007a),
    url("https://images.unsplash.com/photo-1790426579143-b918bdb096d4?");
}

/* --- thuộc tính hỗ trợ khi trình duyệt không hiển thị */
@supports (-webkit-background-clip: text) {
  .title {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
